@use "assets/styles/mixins/colors" as colors;

:host {
  width: 100%;
  height: 46px;
}

.search-container {
  width: 100%;
  height: 46px;

  input {
    width: 100%;
    height: 46px;
    border-bottom: 1px solid colors.$gray-primary;

    &:focus {
      outline: none;
      border: none;
      border-bottom: 1px solid colors.$gray-primary;

    }

    &:focus-visible {
      outline: none;
      border: none;
      border-bottom: 1px solid colors.$gray-primary;

    }
  }
}
