//font size 14px


@mixin f14w500 {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0;
  text-align: center;
}

@mixin f14w700 {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}


//font size 30px

@mixin f30w400 {
  font-weight: 400;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 0;
  text-align: center;
}

@mixin f30w700 {
  font-weight: 700;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 0;
  text-align: center;

}

@mixin f30w800 {
  font-weight: 800;
  font-size: 30px;
  line-height: 135%;
  letter-spacing: 0;
  text-align: center;
}
