<div class="login-form-container">

  <div class="login-form-header">
    <div class="login-form-header__logo">
      <mat-icon svgIcon="teycaLogo"></mat-icon>
    </div>

    <div class="login-form-header__text header-text">
      Добро пожаловать в Тейка
    </div>

    <div class="login-form-header__description header-text">
      Начните сегодня
    </div>
  </div>

  <div class="login-form-body">
    <form class="login-form" [formGroup]="loginForm" >
      <mat-form-field class="login-form__login-field">
        <input matInput formControlName="login" name="login" type="text" placeholder="Номер телефона / Адрес эл. почты" />
        @if (loginControl?.invalid && loginControl?.touched) {
          <mat-error>
            Поле обязательно для заполнения
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="login-form__password-field">
        <input matInput formControlName="password" name="password" type="password" placeholder="Введите пароль" />
        @if (passwordControl?.invalid && passwordControl?.touched) {
          <mat-error>
            Поле обязательно для заполнения
          </mat-error>
        }
      </mat-form-field>

      <button mat-button color="primary" class="submit-button" type="button" (click)="onSubmit()">
        Войти
      </button>
    </form>
  </div>

  <div class="login-form-footer">

    <div class="footer-divider">
      ИЛИ
    </div>

    <div class="footer-info">
      <div class="footer-info__text">
        Уже есть аккаунт?
      </div>
      <div class="footer-info__link link">
        Зарегистрироваться
      </div>
    </div>
  </div>
</div>
